<div class="container ">

    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
        <ul class="navbar-nav flex-grow-1 ">
            <li class="nav-item">
                <a class="nav-link text-dark btn btn-outline-primary p-2" asp-area="" asp-controller="Invoice" asp-action="AllInvoices">تقرير الفواتير</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark btn btn-outline-primary p-2" asp-area="" asp-controller="Subscription" asp-action="AllSubscriptions">تقرير عن الاشتراكات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark btn btn-outline-primary p-2" asp-area="" asp-controller="Subscriber" asp-action="AllSubscribers">تقرير عن المشتركين</a>
            </li>
            @* <li class="nav-item">
                <a class="nav-link text-dark btn btn-outline-primary p-2" asp-area="" asp-controller="Home" asp-action="Privacy">استفسار عن فاتورة</a>
            </li> *@
            <li class="nav-item">
                <a class="nav-link text-dark btn btn-outline-primary p-2" asp-area="" asp-controller="RrealEstate" asp-action="UpdateRrealEstate">تحديث بيانات عقار</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark  btn btn-outline-primary p-2" asp-area="" asp-controller="Subscription" asp-action="UpdateSubscription">تحديث بيانات اشتراك</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark btn btn-outline-primary p-2" asp-area="" asp-controller="Subscriber" asp-action="UpdateSubscriberData">تحديث بيانات مشترك</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark btn btn-outline-primary p-2" asp-area="" asp-controller="Invoice" asp-action="CreateNewInvoice">تسجيل فاتورة</a>
            </li>
        </ul>
    </div>
</div>